[Unit]
Description=Petclinic Java service

[Service]
WorkingDirectory=/src/petclinic
ExecStart=/bin/java -jar /src/petclinic/*.jar
User=ubuntu
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target